$break-small: 640px;
$break-medium: 920px;
$break-large: 1200px;

.production{
	height: 340px;
    width: 20%!important;
    background-color: #f9f9f9;
    float: left;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    z-index: 1;
}

html, body {
    margin: 0px;
    position: relative;
    -webkit-overflow-scrolling: touch;
    padding: 0px;
}

body {
    color: #313435;
    font-size: 10px;
    line-height: 10px;
    font-family: GillSans,"Gill Sans MT",Calibri,sans-serif;
    overflow-x: hidden;
    font-weight: lighter;

}

a {
	text-decoration: none;
	color: black;
}


.cat-item {
	list-style-type: none;
	width: 100px;
	display: inline-flex;
}

.home-button {
	position: absolute;
	top: 37%;
	left: 5%;
	font-size: 15px;
	box-shadow: 1px 1px 0px 0px blueviolet;
	padding: 5px;
	transition: all 0.5s ease;

	&:hover {
    	transform: scale(1.1);
    	transition: all 0.5s ease;
    	box-shadow: 1px 1px 0px 0px orange;
	}
}

.designer {
	font-style: bold;
}

.grid-contain-category {
	border-radius: 2%;
	padding: 5px;
	width: 100%;
	background: white;
	height: 100%;
	margin-left: 5px;
	transition: all 0.5s ease;

	&:hover {
    	transition: all 0.5s ease;
		box-shadow: 0px 0px 8px -1px blueviolet;
	}
}
.prodLink {
	display: table-cell;
}
.grid-contain {
	border-radius: 2%;
	padding: 5px;
	width: 100%;
	background: white;
	max-height: 200px;
	min-height: 160px;

	transition: all 0.5s ease;

	&:hover {
    	transition: all 0.5s ease;
		box-shadow: 0px 0px 8px -1px blueviolet;
	}
}

.header-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 55px;
	background-color: floralwhite;
	box-shadow: 1px 1px 1px -1px #56089E;
}

.backdrops {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: block;
	background-color: white;
	left: 0;
	top: 0;
}

.header-container {
	h4 {
    	font-family: fantasy;
		text-align: center;
		font-size: 25px;
		color: black;

	}


}

.single-image {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.single-container {

	h1 {
		text-align: center;
		font-family: GillSans,"Gill Sans MT",Calibri,sans-serif;
		font-weight: lighter;
		line-height: 20px;
	}
}

.price {
	color: blueviolet;
}


.single-card {
	width: auto;
	background-color: white;
	margin-left: 250px;
	margin-right: 250px;
	padding: 10px;

	@media screen and (max-width: $break-small) {
    	margin-left: 0px;
		margin-right: 0px;
    }

}

.loader-gif {
    position: relative;
    top: 5%;
    left: 36%;

     @media screen and (max-width: $break-small) {
    	left: 1%;

    }
}


#wrapper {
    padding: 5%;
    padding-top: 100px;
    background-color: whitesmoke;

    @media screen and (max-width: $break-small) {
 	   padding-top: 75px;

    }
    padding-top: none;
    padding-top: 75px;
}

.contents {
	color: black;

}

.grid-sizer {
	width: 15%;
}


.grid-sizer, .grid-item {
    width: 12%;
}

.grid {

	@media screen and (max-width: $break-small) {
	    left: 2%;

    }

}

.grid-item {
	width: 99px;
	display: table;
	padding: 8px;
	transition: all 0.5s ease;

	&:hover {
    	transform: scale(1.35);
    	transition: all 0.5s ease;
    	z-index: 5;

    	@media screen and (max-width: $break-small) {
    		transform: scale(1.45);

    	}
	}
}

.grid-image {
	height: auto;
	max-height: 200px;
	min-height: 100px;
	width: 100%;
	position: relative;

    @media screen and (max-width: $break-small) {
    	max-width: 96px;
    }
	max-width: 90px;
}
